        <%- include('parts/header')%>
        <%- include('parts/navbar')%>

        <div class="container">
            <div class="alert alert-danger mt-2">Page not found</div>
        </div>

        <%- include('parts/scripts')%>

    </body>
</html>